<div>
    <div id="divGetData">
        <button (click)="getData()">Get Data</button>
    </div>
    <div>
        <input type="text" id="txtTeam" placeholder="Team">
        <button (click)="getPlayerTeam()">Get Player Team</button>
    </div>
    <div>
        <input type="number" id="txtPlayerId" placeholder="Id">
        <input type="text" id="txtPlayerName" placeholder="Name">
        <input type="number" id="txtPlayerPunti" placeholder="Punti">
        <input type="number" id="txtPlayerEta" placeholder="Età">
        <input type="text" id="txtPlayerConference" placeholder="Conference">
        <input type="text" id="txtPlayerRuolo" placeholder="Ruolo">
        <input type="text" id="txtPlayerTeam" placeholder="Team">
        <button (click)="insertPlayer()">Insert Player</button>
    </div>
    <div>
        <input type="text" id="txtUpdateName" placeholder="Name">
        <input type="number" id="txtUpdatePunti" placeholder="Punti">
        <input type="text" id="txtUpdateConference" placeholder="Conference">
        <input type="text" id="txtUpdateTeam" placeholder="Team">
        <button (click)="updatePlayer()">Update Player</button>
    </div>
    <div>
        <button (click)="statTeam()">Stat Team</button>
    </div>
</div>
